Формирование отчета начато {{.Date}} в {{.Time}}
    
    Свободное место на томах:
{{.ThomeInfo}}


По проектам:
------------------------------------------------
{{.ProjectInfos}}
------------------------------------------------

    Формирование отчета завершено {{.DateEnd}} в {{.TimeEnd}}