    Формирование отчета начато {{.Date}} в {{.Time}} и заняло {{.c}}
    
    Свободное место на томах:
{{range $val := .Volumes}}
      {{ $val }}
{{end}}
    По проектам:
------------------------------------------------
{{range $name_folder, $val_folder := .Folders}}
    В папке {{ $val_folder.Folder }}:
    {{range $val_f := $val_folder.Data}}
        {{ $val_f.Key }} {{$val_f.GetValue}}
    {{end}}
{{end}}
------------------------------------------------

    Формирование отчета завершено {{.DateEnd}} в {{.TimeEnd}}