    Формирование отчета начато {{.Date}} в {{.Time}} и заняло {{.c}}
    
    Свободное место на томах:
{{range $val := .Volumes}}
      {{ $val }}
{{end}}
    По проектам:
------------------------------------------------
{{range $name_folder, $val_folder := .Folders}}
    В папке {{ $name_folder }}:
    {{range $val_f := $val_folder}}
        {{ $val_f }}
    {{end}}
{{end}}
------------------------------------------------

    Формирование отчета завершено {{.DateEnd}} в {{.TimeEnd}}